.article {
  max-width: 940px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding: 17px 14px 17px 19px;
  margin-top: 24px;
  &__describe {
    color: rgba(0, 0, 0, 0.5);
    max-width: 940px;
    width: 100%;
    word-break: break-word;
  }
  &__buttons-block {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__body {
    color: rgba(0, 0, 0, 0.75);
    word-wrap: break-word;
  }
}
